.button {
    font-weight: bold;
    margin:10px;
    width: 70px;
    height:30px;
    background: mistyrose;
    color: palevioletred;
    outline: none;
}

.active:focus {
    background: mediumpurple;
}

.affair {
    display:flex;
    align-items: center;
}

.item {
    color: palevioletred;
    font-family: Aharoni, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    margin: 20px;
    width: 70px;
}

.high {
    color: darkblue;
}

.middle {
    color: royalblue;
}

.low {
    color: lightsteelblue;
}

