.superInput {
    background: mistyrose;
}

.errorInput {
    margin: 5px;
    border: 2px solid mediumpurple;
}

.error {
    font-family: Aharoni;
    color: mediumpurple;
}

input:focus {
    outline: none;
    border: palevioletred solid 2px;
}