.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background: hotpink;
    border-radius: 50%;
    margin-right:10px;
}

.checkbox:checked {
    appearance: none;
    background: green;
}

.spanClassName {

}