.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background: hotpink;
    border-radius: 50%;
    margin-right:10px;
}

.checkbox:checked {
    border: 6px solid hotpink;
    appearance: none;
    background: mistyrose;
}

.spanClassName {

}

.checkbox:hover {
    cursor: pointer;
    border: 6px solid hotpink;
    background: mistyrose;
}